beautifulsoup4==4.7.1
certifi==2019.6.16
chardet==3.0.4
Django==2.2.3
django-autocomplete-light==3.4.1
django-comuni-italiani==1.4.1
django-crispy-forms==1.7.2
django-sendfile2==0.4.2
idna==2.8
lxml==4.3.4
mysqlclient==1.4.2.post1
Pillow==6.1.0
PyPDF2==1.26.0
python-codicefiscale==0.3.5
python-dateutil==2.8.0
python-docx==0.8.10
python-slugify==3.0.2
pytz==2019.1
reportlab==3.5.23
requests==2.22.0
six==1.12.0
soupsieve==1.9.2
sqlparse==0.3.0
text-unidecode==1.2
urllib3==1.25.3
django-polymorphic
