Django
mysqlclient  # Requires `sudo apt install python3-dev mysql-server libmysqlclient-dev`
python-codicefiscale
django-crispy-forms
reportlab
PyPDF2
python-docx
beautifulsoup4
requests
django-autocomplete-light
django-comuni-italiani

# install libreoffice and tahoma font (https://www.wfonts.com/font/tahoma)