{% extends "Rimborsi/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}Login{% endblock %}
{% block h1title %}Login{% endblock %}

{% block content %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}


    <div class="row">
        <div class="column col-8 text-center mycontent-left">
            <h4>Single Sign-On Unimore</h4>
            {#                    <p>Clicca il logo <b>Single SignOn</b> per il login sicuro con le credenziali della posta#}
            {#                        elettronica di ateneo.#}
            {#                    </p>#}
            <a href="#" id="modal-autorizza-dati"><img
                    src="{% static 'RimborsiApp/imgs/unimore-sso.png' %}"
                    alt="Login with Shibboleth"></a>
            <p>L'accesso al portale è consentito solo agli studenti regolarmente iscritti, ai docenti e al
                personale dell'Ateneo.</p>
        </div>

        <div class="column col-4">
            <h4>Login per amministratore</h4>

            <form method="post" action="{% url 'login' %}">
                <div>
                    {% crispy form %}
                    <input type="submit" value="login" class="btn btn-primary"/>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </div>
            </form>
            <hr>
            <a href="{% url 'password_reset' %}">Password dimenticata?</a>
        </div>
    </div>

    <div id="autorizza-dati" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Autorizzazione Dati</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Vuoi consentire all'applicazione di utilizzare i dati personali forniti da Shibboleth per la
                        compilazione del profilo utente?</p>
                    <p>I dati verranno utilizzati solo per compilare i moduli
                        missione. Se si nega il consenso verrà comunque effettuato l'accesso e verranno estratti solo:
                        nome, cognome ed e-mail.</p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'shibboleth:login' 1 %}?{{ request.GET.urlencode }}" id="invia-richiesta-modal"
                       role="button" class="btn btn-primary">Sì</a>
                    {#                    <a href="{% url 'shibboleth:test' %}?{{ request.GET.urlencode }}" id="invia-richiesta-modal"#}
                    {#                       type="button" class="btn btn-primary">test</a>#}
                    <a href="{% url 'shibboleth:login' 0 %}?{{ request.GET.urlencode }}" id="invia-richiesta-modal"
                       role="button" class="btn btn-secondary">No</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#modal-autorizza-dati').click(function (e) {
                $('#autorizza-dati').modal('show');
                e.preventDefault();
            });
        });
    </script>

    <style>
        .mycontent-left {
            border-right: 1px dashed #333;
        }
    </style>
{% endblock %}