{% extends "Rimborsi/base.html" %}
{% load crispy_forms_tags %}

{% block h1title %}Inserisci e conferma la nuova password{% endblock %}
{% block content %}
    {% if validlink %}
        <form action="" method="post">{% csrf_token %}
            {{ form.new_password1.errors }}
            {{ form.new_password1|as_crispy_field }}
            {{ form.new_password2.errors }}
            {{ form.new_password2|as_crispy_field }}
            <input type="submit" value="Cambia la mia password" class="btn btn-primary"/>
        </form>
    {% else %}
        <h1>Password reset fallito</h1>
        <p class="lead">The password reset link was invalid, possibly because it has already been used. Please request a new password
            reset.</p>
    {% endif %}
{% endblock %}