{% extends 'base.html' %}
{% load staticfiles %}
{% block pagetitle %}Sistema raccolta guide{% endblock %}
{% block title %}Sistema raccolta guide{% endblock %}
{% block content %}
    <!-- tabella con lista e collegamenti alle guide -->
    <div style="overflow-x:auto; width: 90%; margin: auto;">
        <h2>Login</h2>
        <h4><a href="{% url 'shibboleth:login' %}?{{ request.GET.urlencode }}">Single Sign-On Unimore</a></h4>
        <p>Clicca il logo <a href="{% url 'shibboleth:login' %}?{{ request.GET.urlencode }}">Single SignOn</a> per il login sicuro con le credenziali della posta elettronica di ateneo.</p>
        <a href="{% url 'shibboleth:login' %}?{{ request.GET.urlencode }}"><img src="{% static  'unimore-sso.png' %}" alt="Login with Shibboleth"></a>
        <p>L'accesso al portale è consentito solo ai docenti e al personale dell'Ateneo.</p>
        <h4 onclick='
(function() {
    let content = document.getElementById("staff_login");
    if (content.style.display === "block") {
        content.style.display = "none";
    } else {
        content.style.display = "block";
    }
 })();'
        ><a href="#" onclick="event.preventDefault();">Clicca qui per accedere al login per gli amministratori del sito</a></h4>
        <div style="display: none;" id="staff_login">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
        </div>


    </div>
{% endblock content %}