{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static "RimborsiApp/imgs/missioni_logo.png" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    {#    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>#}
    {% block head %}{% endblock %}

    <title>{% block title %}Missioni{% endblock %}</title>
    {% block head_link %}{% endblock %}
</head>

<body style="padding-top: 70px;padding-bottom: 40px;">
<div class="container">
    {% include "Rimborsi/navbar.html" %}
    <div class="extend row justify-content-center">
        <div class="col-12">
            <h1 class="mt-2">{% block h1title %}{% endblock %}</h1>
            <hr class="mt-0 mb-4">
            {% block content %}{% endblock %}
            <br class="mb-4">
        </div>
    </div>
</div>


{#{% block content %}{% endblock content %}#}

</body>
{% block after_body %}{% endblock %}

<!-- Footer -->
<nav id="footer" class="navbar navbar-expand-lg navbar-light fixed-bottom">
    <div class="container">
        <div class="font-italic d-none d-sm-block" style="horiz-align: left;">Powered by <a target="_blank"
                                                                          href="http://imagelab.ing.unimore.it">
            <img src="{% static "RimborsiApp/imgs/aimagelab.png" %}" height="25" alt="AImageLab"></a>
        </div>

        <!-- check -->
        <div class="d-block d-sm-none" ><a target="_blank" href="http://imagelab.ing.unimore.it">
            <img src="{% static "RimborsiApp/imgs/aimagelab.png" %}" height="25" alt="AImageLab"></a>
        </div>

        <div class="font-italic" style="float: right !important;">
            <span class="d-block d-sm-none"><a href="http://federicobolelli.it" target="_blank">F. Bolelli</a> and M. Cancilla</span>
            <span class="d-none d-sm-block"> Designed by <a href="http://federicobolelli.it" target="_blank">F. Bolelli</a> and M. Cancilla, managed by <a href="http://federicobolelli.it" target="_blank">F. Bolelli</a>
            <a target="_blank" href="https://github.com/prittt/missioni-unimore"><i class="fa fa-github" aria-hidden="true"></i></a>
            </span>
        </div>

    </div>
</nav>
<!-- Footer -->
<style>
    #footer {
        font-size: large;
        background-color: #ECECEC;
    {#color: #F94018;#}
    }

    .container {
        max-width: 1400px;
    }
</style>
</html>