{% extends "Rimborsi/base.html" %}
{% load static %}
{% block title %}Collaboratori di Missioni{% endblock %}
{% block h1title %}Collaboratori di Missioni{% endblock %}
{% block content %}
    {% spaceless %}
        <div style="font-family: Arial, sans-serif; line-height: 1.6; margin: 20px;">
                <p style="font-size: 1.2em; color: #333;">
                    In seguito vi sono elencati i collaboratori che hanno contribuito allo sviluppo, miglioramento e alla manutenzione del sito web <strong>Missioni</strong>.
                </p>
            <ul style="list-style-type: square; padding-left: 20px; color: #555;">
                <li>Federico Bolelli</li>
                <li>M. Cancilla</li>

                <li>Riccardo Masetti</li>
                <li>Yari Salsi</li>
                <li>Bruna Alessandro</li>
            </ul>
        </div>

    {% endspaceless %}
{% endblock %}