{% extends "Rimborsi/base.html" %}
{% load static %}
{% block title %}Collaboratori di Missioni{% endblock %}
{% block h1title %}Collaboratori di Missioni{% endblock %}
{% block content %}
    {% spaceless %}
        <div style="font-family: Arial, sans-serif; line-height: 1.6; margin: 20px;">
                <p>
                    L'applicativo <i>missioni</i> è basato su Django ed è stato sviluppato da Federico Bolelli e Michele Cancilla nel lontano 2019. Da allora, molte funzionalità sono state aggiunte, anche grazie all'intervento di numerosi tesisti:
                </p>
            <ul>
                <li><b>Federico Bolelli</b>: gestisce la manutenzione e lo sviluppo.</li>
                <li><b>Costantino Grana</b>: contribuisce attivamente alla risoluzione di bug.</li>
                <li><b>Riccardo Masetti (2024)</b>: ha reso l'applicativo compatibile con dispositivi mobili e integrato funzionalità per il caricamento delle immagini relative alle prove d'acquisto.</li>
                <li><b>Yari Salsi (2024)</b>: ha sviluppato le funzionalità di gestione e condivisione delle firme.</li>
                <li><b>Bruna Alessandro (2024)</b>: ha sviluppato il codice per la generazione del report scontrini e un sistema di OCR per l'autocompletamento delle voci di spesa da immagini scontrini (non ancora in produzione). </li>
            </ul>
        </div>

    {% endspaceless %}
{% endblock %}