{% extends "Rimborsi/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Missioni{% endblock %}

{#{% block h1title %}#}
{#In Evidenza#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#    {% spaceless %}#}
{##}
{#        <h4>Trovi utile l'applicazione? Lascia una star su <a target="blank" href="https://github.com/prittt/missioni-unimore">GitHub</a> &#128521;!<h4>#}
{##}
{#    {% endspaceless %}#}
{##}
{#{% endblock %}#}

{% block h1title %}
    In Evidenza
{% endblock %}

{% block content %}
    {% spaceless %}
        {% if user.is_authenticated %}
            {% if user.profile.cf == '' or user.profile.telefono == '' or user.profile.telefono is None %}
                <div class="alert alert-danger" role="alert">
                    E' stato modificato il db per aggiungere nuove funzionalità e per sopperire a esigenze di Malagoni.
                    Controlla il tuo <a href="{% url 'RimborsiApp:profile' %}" style="text-decoration: none;">
                    <strong>profilo</strong></a> prima di continuare:
                    <ul>
                        <li>Il Codice Fiscale è ancora corretto?</li>
                        <li>Compila i nuovi campi <i>telefono (interno)</i> e <i>data di fine rapporto</i>!
                    </ul>
                </div>
            {% endif %}
        {% endif %}
        <p><b>Autocompilazione modulo kasko attiva!</b> Per poter usufruire del servizio è necessario, nell'ordine,
            installare
            il plugin del browser Tampermonkey (<a href="https://addons.mozilla.org/en-US/firefox/addon/tampermonkey/"
                                                   target="blank"><i class="fa fa-firefox" aria-hidden="true"></i></a>,
            <a href="https://addons.opera.com/en/extensions/details/tampermonkey-beta/" target="blank"><i
                    class="fa fa-opera" aria-hidden="true"></i></a>,
            <a href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo//Open"
               target="blank"><i class="fa fa-chrome" aria-hidden="true"></i></a>)
            e installare <a
                    href="https://raw.githubusercontent.com/prittt/missioni-unimore/master/autocompilatore_richieste_kasko.user.js">questo</a>
            script. Fatto ciò,
            quando cliccate sul link "kasko" nel resoconto missione si aprirà la pagina kasko di unimore con un pulsante
            speciale (Auto fill data from Tampermonkey storage).
            Non vi resta che creare una nuova entry e cliccare sul pulsante magico 🍻!</p>
        <p><b>Rimborso chilometrico stimato.</b> Si noti che il rimborso chilometrico fornito nel resoconto missione
            utilizza
            i dati del costo medio del carburante della settimana corrente (e non il costo medio del carburante
            nella settimana in cui si è svolta la missione). In ogni caso il rimborso chilometrico deve essere compilato
            dall'amministrativo
            responsabile, il valore riportato nel resoconto serve solo per verificare che il rimborso ricevuto sia
            "corretto".
        </p>
        <h4>Trovi utile l'applicazione? Lascia una star su
            <a target="blank" href="https://github.com/prittt/missioni-unimore">GitHub</a> &#128521;!
        </h4>

        <h1>News</h1>
        <hr class="mt-0 mb-4">
        <p align="justify"><b>26/11/2019</b> - Possibilità di concludere (archiviare) una missione già rimborsata.
        </p>
        <p align="justify"><b>26/11/2019</b> - E' stata aggiunta la possibilità di specificare valute diverse dall'euro.
            Il tasso di cambio
            è quello fornito dalla <a href="https://tassidicambio.bancaditalia.it">Banca d'Italia</a> alla data in cui è
            stata effettuata la spesa (come indicato nel regolamento).
        </p>
        <p align="justify"><b>26/11/2019</b> - Possibilità di clonare una missione esistente.
        </p>
        <p align="justify"><b>20/08/2019</b> - Autocompilazione modulo kasko attiva! Per poter usufruire del servizio è
            necessario, nell'ordine, installare
            il plugin del browser Tampermonkey (<a href="https://addons.mozilla.org/en-US/firefox/addon/tampermonkey/"
                                                   target="blank"><i class="fa fa-firefox" aria-hidden="true"></i></a>,
            <a href="https://addons.opera.com/en/extensions/details/tampermonkey-beta/" target="blank"><i
                    class="fa fa-opera" aria-hidden="true"></i></a>,
            <a href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo//Open"
               target="blank"><i class="fa fa-chrome" aria-hidden="true"></i></a>)
            e installare <a
                    href="https://raw.githubusercontent.com/prittt/missioni-unimore/master/autocompilatore_richieste_kasko.user.js">questo</a>
            script. Fatto ciò,
            quando cliccate sul link "kasko" nel resoconto missione si aprirà la pagina kasko di unimore con un pulsante
            speciale (Auto fill data from Tampermonkey storage).
            Non vi resta che creare una nuova entry e cliccare sul pulsante magico 🍻!</p>
        <p><b>19/08/2019</b> - Autocompilazione profilo utente con dati Shibboleth attiva.</p>
    {% endspaceless %}
{% endblock %}