{% extends "Rimborsi/base.html" %}
{% load static %}
{% block title %}Regolamento Missioni{% endblock %}
{% block h1title %}Regolamento Missioni:{% endblock %}
{% block content %}
    {% spaceless %}

        <p>Il regolamento ufficiale è disponibile
            <a href="https://web.ing.unimo.it/wiki/index.php/Servizi/Area_Missioni" target="_blank">qui</a>.</p>

        <p>Di seguito un riassunto delle cose da fare e alcune delle regole più importanti.</p>
        <p>Prima di partire:</p>
        <ol>

            <li>Compilare la prima pagina del modulo scaricabile da <a
                    href="https://web.ing.unimo.it/wiki/index.php/Servizi/Area_Missioni" target="_blank">qui</a>.
                Secondo le regole specificare nel file locale RegoleMM.doc. N.B. far firmare sempre e solo il titolare
                dei fondi. Per la firma del direttore ci pensa sempre Malagoni onde evitare problemi del tipo: sei
                dottorando? Ma sotto quale ente? ecc.
            </li>
            <li> Se si usa la propria macchina compilare il form al <a
                    href="https://wtr.unimore.it/private/kasko/Richiesta.aspx" target="_blank">link</a> e stampare due
                copie della
                richiesta facendo lo screen della pagina online
            </li>
            <li> Se sei dottorando occorre anche compilare il modulo di “AutorizzazioneMissioneDottorandi” scaricabile
                al
                <a href="https://web.ing.unimo.it/DocumentiPubblici/dief/altre-attivita/missioni/MODULISTICA/Autorizzazione%20Missione%20Dottorandi%20DIEF%202014.doc">link</a>
                e farlo firmare al coordinatore della scuola di dottorato. È altamente consigliato, per questioni
                assicurative, consegnare una copia del documento firmato alla Monica Zaccarelli prima di partire (anche
                nella buchetta delle lettere).
            </li>
        </ol>

        <p>Quanto si torna dalla missione:</p>

        <ol start="4">
            <li> Compilare le restanti pagine del modulo scaricato al punto 1 (eccetto la pagina 4) e consegnarlo a
                Malagoni insieme a tutte le ricevute (originali), al certificato di partecipazione alla conferenza o
                altro certificato di missione ed alle due copie del modulo scaricato al punto 2.
            </li>
        </ol>

        <p>Regole missione:</p>
        <ul>

            <li>
                Scontrini per i pasti Massimo 3 al giorno per un totale non superiore a “dipende dalla destinazione” e
                per un totale massimo a scontrino di “dipende dalla missione”.
            </li>
            <li>
                C’è un massimale per i taxi ma non so quanto vale.
            </li>
            <li>
                Tenere tutti gli scontrini, ricevute, carte di imbarco. Farsi fare la ricevuta se si prende il taxi e
                richiedere tassativamente una ricevuta o attestato alla conferenza.
            </li>
            <li>
                I pagamenti di autobus/taxi/metropolitane usati per il viaggio vanno comunque inseriti all’interno delle
                voci
                specifiche e non all’interno della voce viaggio. Non ho capito se questo è vero solo quando si prende
                l’areo come mezzo principale di viaggio o è vero in ogni caso.
            </li>


        </ul>



    {% endspaceless %}
{% endblock %}