{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    {% block meta %}{% endblock %}
    <title>{% block pagetitle %}{% endblock %}</title>
    {% block style %}<link href="{% static 'guide.css' %}" rel="stylesheet" type="text/css">{% endblock %}
</head>
<body>
    {% block header %}
    <!-- intestazione colore rosso unimore con logo e titolo -->
    <div class="header_index">
        <!-- stile css. Ogni colore diverso dell'intestazione è richiamabile dal file guide.css -->
        <div style="overflow-x:auto;">
            <table align="center">
                <thead>
                    <tr>
                        <th scope="col"><img src="{% static 'unimore-logo.png' %}" alt="logo unimore" align="left" class="responsive"></th> <!-- inserire url logo unimore -->
                        <th scope="col">
                            <h3 align="right">{% block title %}{% endblock %}</h3> <!-- titolo della pagina all'interno della banda colorata -->
                            {% if request.user.is_authenticated %}
                            <pre align="right">Loggato come {{ request.user.username }} - <a href="{% url 'logout' %}">Logout</a></pre> <!-- informazioni di login/logout -->
                            {% endif %}
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    {% endblock %}
    {% block content %}{% endblock %}
    <footer>
        {% block footer %}
            <div style="width: 90%; margin: auto;" >
                <p><br></p>
                <p><hr><font size="2">Sistema raccolta guide - © Lorenzo Baraldi, Costantino Grana</font></p>
            </div>
        {% endblock %}
    </footer>
</body>
</html>